[submodule "gstreamer-sandbox"]
	path = gstreamer-sandbox
	url = git@github.com:fgr-17/gstreamer-sandbox.git
	branch = develop
[submodule "yolo-client"]
	path = yolo-client
	url = git@github.com:fgr-17/yolo-client.git
	branch = develop